.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
    width:98dvw;
    margin-inline: auto;
    overflow-x: hidden;
}

#product-list {
  width: 100%;
}

#product-list ul {
    width: 100%;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

#product-list img { 
  width: 100%;
  height: auto;
}

#product-list li {

  width: 28%;
  background-color: hsl(0, 0%, 80%);
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.4rem;

}


#product-list button {

  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid hsl(36, 50%, 45%);
  background-color: hsl(36, 83%, 60%);
}

#product-list button:hover {
  background-color: hsl(36, 83%, 50%);
}

#product-list button:focus {
  background-color: hsl(36, 80%, 45%);
}

.price::before {
  content: '£';
}

#category-selector {
  background-color: hsl(203, 50%, 95%);
  max-width:99%;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: 1rem auto;
  padding: 0.3rem;
  min-height: 3rem;
  border-radius: 0.5rem;
}

#category-dropdown {
 /*  margin-left: 0.5rem;
  margin-top: 0.7rem; */
}

.addItemForm {
  width: 96dvw;
  margin: 2rem auto;
}
.addItemForm form{
     display: flex;
    flex-direction: column;
}

input:focus {

}
textarea:focus{

}

select:focus{
}

.addItemForm input, textarea, select {
  margin: 0.2rem 0 0.8rem 0;   
  border-radius: 0.2rem;
  min-height: 2rem;
}

.addItemForm select {
  width: 100%;
  background-color: #fff;
}

.addItemForm button{
  
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid hsl(36, 50%, 45%);
  background-color: hsl(36, 83%, 60%);
}

.addItemForm button:hover {
  background-color: hsl(36, 83%, 50%);
}

.addItemForm button:focus {
  background-color: hsl(36, 80%, 45%);
}


#addButton {
  border-radius: 0.4rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid hsl(130, 83%, 45%);
  background-color: hsl(130, 60%, 45%);
  color: #fff;
  font-size: 1.2rem;
}

#product-list {
  display:flex;
}
#addButton::before {
  content: '+ ';
}

.error-text {
  font-size: 0.8rem;
  color: hsl(14, 96%, 36%);
}

.error-field {
  border: 1px solid hsl(14, 96%, 36%);
}

.char-count {
  display:inline-block;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0.2rem 0 0 0;
  font-size: 0.6rem;
  margin-bottom: 1rem;
}

#item-desc {
  margin-bottom: 0;
}