.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#product-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

#product-list img { 
  width: 100%;
  height: auto;
}

#product-list li {

  width: 28%;
  background-color: hsl(0, 0%, 80%);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;

}


#product-list button {

  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid hsl(36, 50%, 45%);
  background-color: hsl(36, 83%, 60%);
}

#product-list button:hover {
  background-color: hsl(36, 83%, 50%);
}

#product-list button:focus {
  background-color: hsl(36, 80%, 45%);
}

.price::before {
  content: '£';
}

#category-selector {
  background-color: beige;
  width:80%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem auto;
  padding: 0.3rem;
  min-height: 3rem;
  border-radius: 0.5rem;
}

.addItemFor {
  
}